.product-card {
  transition: transform 0.2s ease;
}
.product-card:hover {
  transform: scale(1.03);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.card-img-top {
  max-height: 250px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.modal-content {
  border-radius: 1rem;
}

.modal-body img {
  max-height: 300px;
  object-fit: cover;
}
